{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [],
  "env": {
    "test": {
      "plugins": ["transform-require-context"]
    }
  }
}
